<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Seguidores</title>
</head>
<body>


<div class="container">
	<div class="row">
		<div class="col">
			<h5>Follower screen_name</h5>
		</div>
		<div class="col">
			<h5>Tweet Text</h5>
		</div>
		<div class="col">
			<h5>Localization</h5>	
		</div>
		<div class="col">
			<h5>Map</h5>
		</div>
	</div>
	{% for key, value in context.items %}
	<div class="row">
		<div class="col">
			<h5>{{key}}</h5>
		</div>
		<div class="col">
			<h5>{{value.0}}</h5>
		</div>
		<div class="col">
			<h5>{{value.1}}</h5>	
		</div>

		{% if not value.1 %}
			<div>No se encontraron coordenadas</div>
		{% else %}

			<div class="col">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center={{value.1.0}},{{value.1.1}}&zoom=20&size=400x400&key=AIzaSyD-FB1AcDWkWOxrExdJBlH85lmVfpc-5f0
				">
			</div>

		{% endif %}
	</div>
	{% endfor %}


</div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>