{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Login Twitter</title>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand" href="{% url 'index' %}">App Twitter</a>
	</nav>

</head>
<body>
	<div class="container">
		<p class="h3" align="center" style="padding-top: 50px">Aplicación de logueo con twitter</p>
		<p class="lead" align="center">
  			El objetivo de esta aplicación es permitirle a sus usuarios conectarse con su cuenta de twitter para iniciar sesión y posteriormente ubicar algunos de sus amigos de twitter con ayuda de la api de twitter y de google maps, <strong>empecemos</strong>
		</p>
	</div>
	<div class="container" align="center" style="padding-top: 50px">
		<div class="btn-group">
		        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-primary">
			        <span style="color: white;">Twitter Login</span>
		        </a>
		</div>
	</div>
</body>
</html>